{% extends 'resume/base.html' %}

{% block bodyClass %}
    blog-post light
{% endblock bodyClass %}

{% block content %}

<!-- Page Title Starts -->
<section class="title-section text-left text-sm-center revealator-slideup revealator-once revealator-delay1">
    <h1>Mon <span>blog</span></h1>
    <span class="title-bg">posts</span>
</section>
<!-- Page Title Ends -->
<!-- Main Content Starts -->
<section class="main-content revealator-slideup revealator-once revealator-delay1">
    <div class="container">
        <div class="row">
                <!-- Article Starts -->
                <article class="col-12">
                    <!-- Meta Starts -->
                    <div class="meta open-sans-font">
                        <span><i class="fa fa-user"></i> {{post.author}}</span>
                        <span class="date"><i class="fa fa-calendar"></i> {{post.date|date:'l d F Y'}}</span>
                        <span><i class="fa fa-tags"></i> wordpress, business, economy, design</span>
                    </div>
                    <!-- Meta Ends -->
                    <!-- Article Content Starts -->
                    <h1 class="text-uppercase text-capitalize">{{post.title}}</h1>
                    <img src="{{post.image.url}}" class="img-fluid" alt="{{post.title}}"/>
                    <div class="blog-excerpt open-sans-font pb-5">
                        {{post.content}}
                    </div>
                    <!-- Article Content Ends -->
                </article>
                <!-- Article Ends -->
            
        </div>
    </div>
</section>

{% endblock content %}